<div class="container mt-3">

    <table class="table table-striped table-hover table-sm table-bordered table-responsive-md">
        <thead>
            <tr class="text-center">
                <th>Person Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Gender</th>
                <th>Date of birth</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="person : ${persons}">
                <td th:text="${person.id}"></td>
                <td th:text="${person.firstName}"></td>
                <td th:text="${person.lastName}"></td>
                <td th:if="${person.gender != null}" th:text="${person.gender.name}"></td>
                    <td th:unless="${person.gender != null}">No gender</td>
                <td th:text="${person.dateOfBirth}"></td>
                <td style="display: flex; justify-content: center;"><a
                    th:href="@{/persons/delete/{id}(id=${person.id})}"
                    class="btn btn-danger btn-sm">Delete</a></td>
            </tr>
        </tbody>
    </table>



    <form th:action="@{/persons/add}" th:object="${person}" method="POST">
        <div class="row g-3 mb-3">
            <div class="col-sm-4">
                <label for="firstName" class="form-label">First name</label>
                <input th:field="*{firstName}" value="okok" type="text" class="form-control" id="firstName">
            </div>
            <div class="col-sm-4">
                <label for="lastName" class="form-label">Last name</label>
                <input th:field="*{lastName}" value="okok" type="text" class="form-control" id="lastName">
            </div>
            <div class="col-sm-4">
                <label for="person" class="form-label">Gender</label>
                <select th:field="*{gender}" class="form-select" id="gender">
                    <option th:each="gender : ${genders}" th:value="${gender.id}" th:text="${gender.name}"></option>
                </select>
            </div>
            <div class="col-sm-4">
                <label for="dateOfBirth" class="form-label">Date of birth</label>
                <input th:field="*{dateOfBirth}" value="okok" type="text" class="form-control" id="dateOfBirth">
            </div>
            <div class="col-sm-4" style="display: flex; justify-content: flex-start; align-items: flex-end;">
                <button type="submit" class="btn btn-primary" style="height: fit-content;">Create Person</button>
            </div>
        </div>
    </form>
</div>