<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Welcome to Palapa</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <link th:href="@{/css/style.css}" rel="stylesheet">
    </head>
    <body>
        <div th:insert="@{/dashboard/dashboardHeader}"></div>
        <h1>-------------------------------</h1>
        <div th:insert="@{/dashboard/dashboardLatestUsers}"></div>
        <h1>-------------------------------</h1>
        <div th:insert="@{/dashboard/dashboardLogin}"></div>
        <h1>-------------------------------</h1>
        <div th:insert="@{/dashboard/dashboardNav}"></div>
        <h1>-------------------------------</h1>
        <div th:insert="@{/dashboard/dashboardSide}"></div>
        <h1>-------------------------------</h1>
        <div th:insert="@{/dashboard/dashboardWebsiteOverview}"></div>
    </body>
</html>